body {
    background-color: black;
    
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    color: white;
}

h4 {
    color: white;
}

p {
    color: white;
}

ul {
    color: white;
}


img {
    width: 300px;
    height: auto;
}